.App {
  text-align: center;
  background-color: white;
}
li{
  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}
.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}

img{
  width: 25%;
  border-radius: 5px;
  @media screen and (max-width: 599px){
    height: 250px;
    object-fit: cover;
  }
}
body{
  color: black;
  margin: 0;
  padding: 0;
}

main{
  padding: 2rem;
  max-width: 1400px;
  margin: auto;

}


h2{
  color: #ed666f;
  font-weight: 500;
}

h3{
  font-weight: 500;
  margin: 0.5rem 0;
}

.grid-wrapper{
  @media screen and (min-width: 600px){
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
   
  }

  @media screen and (min-width: 1025px){
    grid-template-columns: 1fr 2fr 1fr 2fr;
  }
  @media screen and (min-width: 600px) and (max-width: 1024px){
    grid-template-columns: 1fr 2fr;
  }

}


.footer-note{
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 0.9rem;
  background: white;
  padding: 1rem;
  color: black;
  border-radius: 5px;
}
.cd-h-timeline__events {
  position: relative;
}

.cd-h-timeline__event {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.cd-h-timeline__event--selected { 
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}

.cd-h-timeline__event--enter-right, 
.cd-h-timeline__event--leave-right { 
   animation-name: cd-enter-right;
}

.cd-h-timeline__event--enter-left,  
.cd-h-timeline__event--leave-left { 
   animation-name: cd-enter-left;
}

.cd-h-timeline__event--leave-right, 
.cd-h-timeline__event--leave-left {
   animation-direction: reverse;
}

@keyframes cd-enter-right {
   0% {
      opacity: 0;
      transform: translateX(100%);
   }

   100% {
      opacity: 1;
      transform: translateX(0%);
   }
}

@keyframes cd-enter-left {
   0% {
      opacity: 0;
      transform: translateX(-100%);
   }

   100% {
      opacity: 1;
      transform: translateX(0%);
   }
}

html, body {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #eee;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.swiper-container-wrapper--timeline .swiper-slide {
  display: flex;
  background: #fff;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.swiper-container-wrapper--timeline .swiper-slide .container {
  padding: 0;
  width: 100%;
}
.swiper-container-wrapper--timeline .swiper-slide .title {
  font-size: 18px;
  opacity: 0;
  transition: 0.5s ease 0.5s;
}
.swiper-container-wrapper--timeline .swiper-slide-active .title {
  opacity: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
  position: relative;
  margin-bottom: 70px;
  background-color: transparent;
  height: 4px;
  border-bottom: 1px solid #888;
  width: 75%;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
  background-color: #000;
  height: 3px;
  top: 2px;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
  position: absolute;
  top: 2px;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
  position: absolute;
  top: 3px;
  right: -100%;
  width: 100%;
  height: 1px;
  background-color: #888;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-custom {
  position: relative;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  line-height: 1.66;
  bottom: 0;
  z-index: 11;
  width: 75%;
  display: flex;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
  position: absolute;
  font-weight: 400;
  right: 0;
  transform: translateX(50%);
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
  position: absolute;
  top: calc(100% + 19px);
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 2rem;
  content: "";
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
  font-weight: 400;
  transition-delay: 0.4s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
  background: #000;
  width: 25px;
  height: 25px;
  transition-delay: 0.4s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title {
  color: #888;
  font-weight: 16px;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title:after {
  background: #888;
}